name: Build & Push Docker Images to ECR

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  build-and-push:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push API image
        run: |
          docker build -t upload-api:latest ./api
          docker tag upload-api:latest ${{ secrets.ECR_REGISTRY }}/upload-api:latest
          docker push ${{ secrets.ECR_REGISTRY }}/upload-api:latest

      - name: Build & Push Storage image
        run: |
          docker build -t storage-service:latest ./storage
          docker tag storage-service:latest ${{ secrets.ECR_REGISTRY }}/storage-service:latest
          docker push ${{ secrets.ECR_REGISTRY }}/storage-service:latest
