name: Run the Action
on:
  push:
    branches-ignore:
      - master
jobs:
  action-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Create pull request
        uses: devops-infra/action-pull-request@v1.0.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          title: Automatic pull request